<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Teater På Gång", root_path, class: "navbar-brand", data: { no_turbolink: "true" } %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if current_page?(shows_path) %> >
          <%= link_to "Pjäser", shows_path %>
        </li>
        <li <%= 'class=active' if current_page?(courses_path) %> >
          <%= link_to "Kurser och utbildningar", courses_path %>
        </li>
        <li <%= 'class=active' if current_page?(co_operations_path) %> >
          <%= link_to "Sammarbete", co_operations_path %>
        </li>
        <li <%= 'class=active' if current_page?(abouts_path) %> >
          <%= link_to "About teatern", abouts_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><%= link_to "logga ut", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>