
<section class="section section--white" id="section-3">
  <div class="grid clearfix">
    <heading class="column column--12 column--first column--last">
      <h1 class="h1 block-header"><%= @abouts.title %></h1>
    </heading>
  </div>
  <div class="grid clearfix">
    <div class="column column--6 column--first typography">
      <p><%= @abouts.column_1 %></p>
    </div>
    <div class="column column--6 column--last typography">
      <p><%= @abouts.column_2 %></p>
    </div>
  </div>
  <div class="sub-section sub-section--border">
    <div class="profile clearfix">
      <div class="profile__icon">
        <div class="round">
          <%= image_tag @abouts.image, alt: "Annrika Dahlström", class: "media__profile" %>
        </div>
      </div>
      <div class="profile__text typography">
        <p><p><%= @abouts.column_3 %></p></p>
      </div>
    </div>
  </div>
</section>