<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @abouts.each do |about| %>
        <h1 class="h1"><%= about.title %></h1>
        <blockquote>
          <p><%= about.column_1 %></p>
        </blockquote>
        <blockquote>
          <p><%= about.column_2 %></p>
        </blockquote>
        <blockquote>
          <p><%= about.column_3 %></p>
        </blockquote>
        <blockquote>
          <% if about.on_page %>
            <p class="font-green"><span class="glyphicon glyphicon-ok-circle"></span>Will be shown on the page</p>
          <% else %>
            <p class="font-red"><span class="glyphicon glyphicon-remove-circle"></span>This page is hidden</p>
          <% end %>
        </blockquote>
        <blockquote>
          <%= image_tag about.image, width: 250 %>
        </blockquote>
        <div class="btn-group">
          <%= link_to 'Edit', edit_about_path(about), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



