<%= form_for @show, html: { class: "form-horizontal"} do |f| %>


  <div class="form-group">
    <label class="col-md-2 control-label" for="show_title">Bilder</label>
    <div class="col-md-10">
      <ul class="flex clear-list">
        <% @images.each do |image| %>
           <%#= collection_select(:user, :role_id, @roles, :id, :role_title, {:prompt => true}) %>
          <%#= image_tag image.gsub("app/assets/images/", "") %>
            <li class="flex-child">
              <%= image_tag(image.gsub("app/assets/images/", ""), width: "150") %> <br>
              <%= image.gsub("app/assets/images/", "") %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :title, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :title, class: "form-control", placeholder: "Title of show" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 6, class: "form-control", placeholder: "description of show" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :image, class: "form-control", placeholder: "Add the name of chosen image above" %>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :display_archive, 'Archive', class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.radio_button :display, 'false', :checked => !@show.display   %>
    </div>
  </div>

  <div class="form-group">
  <%= f.label :display_up_comming, 'Live', class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.radio_button :display, 'true', :checked => @show.display %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
    <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

<% end %>




<% # form_tag("/shows/#{@show.id}/writers/update", method: "patch") do %>
  <% # @writers.each do |writer| %>
  <% # label_tag(:field, "Field") %>
  <% # text_field_tag(:field, writer.field ) %>
  <% # submit_tag("Update") %>
  <% # end %>
<% # end %>



























