
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
    <% if @dates.count > 0 %>
      <h1 class="h1">Edit dates: <%= @dates.first.show.title %></h1>
    <% else %>
      <h1 class="h1">Edit dates: <span class="font-red">No dates to edit</span></h1>
      <%= link_to "Create a date", new_show_date_path  %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @dates.each do | date | %>
        <!-- ToDo: change url_for to a "url: something_path" insted -->
        <%= form_for date,
              :url => url_for(:controller => 'showdates', :action => 'update', :method => 'patch'),
              html: { class: "form-horizontal"} do |f| %>
          <%= render 'shows/form_dates', f: f, date: date %>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%= link_to "View Show", show_path( id: @dates.first.show.id ), class: "btn btn-default" %>
        <%= link_to "View All Shows", shows_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>


