
<%= render 'admin/error_messages', obj: @show%>

<div class="">

  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <h1 class="h1"><%= @show.title %></h1>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p><%= @show.description %></p>
      </blockquote>
      <blockquote>
        <%= image_tag @show.avatar.image, width: 250 if @show.avatar %>
      </blockquote>
    </div>

    <div class="col-md-6">
      <blockquote>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= content_tag :span, "", class: @show.display ? "glyphicon glyphicon-fire" : "glyphicon glyphicon-folder-open" %>
              <%= @show.display ? "The show is hot as fire" : "The show is very old and listed in the archive" %>
            </h3>
          </div>
          <div class="panel-body">
            Shows listend in the archive will only be displayd in the archive section, no dates or prices will be shown.
          </div>
        </div>
      </blockquote>
      <blockquote>
        <h2 class="h3">Datum</h2>
        <ul class="list-group">
          <% @show.ShowDates.each do |date| %>
              <li class="list-group-item">
                  <%= date.date %>
                  <% if date.soldOut %>
                    <span class="font-red">Sold Out</span>
                  <% else %>
                    <span class="font-green">Still empty seats</span>
                  <% end %>
              </li>
          <% end %>
        </ul>
      </blockquote>
      <blockquote>
        <h2 class="h3">Priser</h2>
        <ul class="list-group">
          <% @show.ShowPrices.each do |price| %>
            <li class="list-group-item">
                <strong><%= price.price %>:-</strong>
                <%= price.description %>
            </li>
          <% end %>
        </ul>
      </blockquote>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10">
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
      <%= link_to 'Redigera pjäs', edit_show_path(@show), class: "btn btn-primary" %>
      <%= link_to 'Skapa datum', new_show_date_path(@show), class: "btn btn-success" %>
      <% if @show.ShowDates.count > 0 %>
        <%= link_to 'Redigera datum', show_date_path( :show_id => @show.id ), class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'Skapa ett pris', new_show_price_path(@show), class: "btn btn-success" %>
      <% if @show.ShowPrices.count > 0 %>
        <%= link_to 'Redigera pris', show_price_path( :show_id => @show.id ), class: "btn btn-primary" %>
      <% end %>
      <% if @show.avatar %>
        <%= link_to 'Redigera bild', edit_show_avatar_path( :show_id => @show.id ), class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'Lägg till bild', new_show_avatar_path( :show_id => @show.id ), class: "btn btn-success" %>
      <% end %>

      <%= link_to 'Ta bort pjäs', show_path(@show), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Visa lista av alla shower', shows_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>




