<!DOCTYPE html>
<html>
<head>
  <title>admin-TheatreX</title>
  <%= stylesheet_link_tag 'application_admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

  <%= render 'admin/navigation' %>
  <div class="admin-container">
    <%= render 'admin/flash_message' %>
    <%= yield %>
    <!-- Add = to display params on the page -->
    <% debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
